/*General*/
table, th, td {
    border: 1px solid black;
}
table{
    width: 100%;
}

/*Página de Cliente*/
.divCliente{
    border: 1px solid black;
}
#divEj{
    border: 1px solid black;
    display: flex;
    overflow: auto;
}
.ejercicios{
    width: 14,29%;
}