{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
    <form id="formAddEjercicio" action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Añadir Ejercicio</legend>
            <label for="nombre">Nombre Ejercicio:</label>
            <input type="text" name="nombre" id="nombre"><br>
            <input type="submit" value="Agregar Ejercicio">
        </fieldset>
    </form><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        {%for usuario in listaUsuarios%}
        <tr>
            <th>{{usuario.id}}</th>
            <th>{{usuario.username}}</th>
            <th>{{usuario.email}}</th>
        </tr>
        {%endfor%}
    </table>
{%endblock%}