<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>POCKET TRAINER</title>

        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>  
        <script src="{% static 'js/ejerciciosRutina.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <header style="border-bottom: black 2px solid;">
        <img src="{%static  'img/logo.png'%}" width="50px" height="50px"><br>POCKET TRAINER<br>
        {%if user.username%}
            <a href="{% url 'logout' %}"><button type="button">Cerrar Sesión</button></a><br>
            {%if not user.is_superuser%}
                <a href="{% url 'misdatos' %}"><button type="button">Ver mis datos</button></a>
            {%endif%}
        {%else%}
            <a href="{% url 'registro' %}"><button type="button">Registrarse</button></a><br>
            <a href="{% url 'login' %}"><button type="button">Iniciar Sesión</button></a><br>
        {% endif %}
    </header><br>
    <body>
        <div style="margin-left: 15px;">
        {%block contenido%}
        {%endblock%}
        </div>
    </body>
</html>