{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
<CENTER><h1>BIENVENIDO {{cliente.nombre}}</h1></CENTER>

<center><h2>RUTINAS DE HOY</h2></center>
<div id="divRutinas" class="divCliente">
    {%for r in rutinaHoy%}
        {{r.nombre}}<br>
    {%endfor%}
</div><br>
<center><h2>CALENDARIO</h2></center>
<div id="divEj" class="divCliente">
    {{tabla|safe}}
</div><br>
<div id="divAcc" class="divCliente"><center><h2>ACCIONES</h2></center>
<table>
    <thead>
        <caption>
            <a href="{% url 'rutina' %}"><button type="button" style="width: 100%;">Añadir rutina</button></a>
        </caption>
        <tr>
            <th>
                Rutina
            </th>
            <th>
                Acción                
            </th>
        </tr>
    </thead>
    {%for r in rutinas%}
    <tr>
        <th>
            {{r.nombre}}<br>
        </th>
        <th>
            <a href="{% url 'index' %}eliminar/{{r.id}}"><button type="button" style="width: 100%;">Eliminar Rutina</button></a><br>
            <a href="{% url 'index' %}mirutina/{{r.id}}"><button type="button" style="width: 100%;">Ver Rutina</button></a>         
        </th>
    </tr>
    {%endfor%}
</table>
</div>
{%endblock%}