{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
    <h2>{{rutina.nombre}}</h2>
    <ul>
    {%for e in ejercicios%}
        <li type="circle">Ejercicio: {{e.ejercicio.tipo}}<br>Duración: {{e.duracion|stringformat:".0f" }} Segundos</li><br>
    {%endfor%}
    </ul>
    <a href="{% url 'cliente' %}"><button type="button">Volver a home</button></a>
{%endblock%}