{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
    {% if user.username %}
        {%if cliente.capacidadFisica == 'NULO'%}
            BIENVENIDO A POCKET TRAINER, POR FAVOR INDICA DATOS FÍSICOS 
            <form id="formFisico" action="" method="post">
                {% csrf_token %}
                <label for="capacidadFisica">Dificultad de ejercicios:</label>
                <select name="capacidadFisica">
                    <option>Ligeros</option>
                    <option>Normales</option>
                    <option>Pesados</option>
                </select><br>

                <label for="peso">Peso Actual (KG):</label>
                <input type="number" step="0.1" name="peso" placeholder="60,2" min="1"></input><br>

                <label for="estatura">Estatura (CM):</label>
                <input type="number" step="0.01" name="estatura" placeholder="1,71" min="1"></input><br>

                <input type="submit" value="Registrar datos físicos">
            </form>
        {%endif%}
    {% else %}
            BIENVENIDO A POCKET TRAINER
    {% endif %}
{%endblock%}