{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
    INGRESAR AL SISTEMA
    <form id="formLogin" action="" method="post">
        {% csrf_token %}
        <label for="credencial">Username o Email:</label>
        <input type="text" name="credencial" placeholder="UsernameEjemplo"></input><br>

        <label for="password">Contraseña:</label>
        <input type="password" name="password" placeholder="********"></input><br>

        <input type="submit" value="Ingresar">
    </form><br>
    <a href="{% url 'recuperar' %}">Olvidaste tu contraseña?</a>
    <footer>
        <br>
        <a href="{% url 'index' %}">Volver al inicio</a>
    </footer>
{%endblock%}