{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
    Nombre: {{cliente.nombre}}<br>
    Username: {{user.username}}<br>
    Mail: {{user.email}}<br>
    Capacidad Fisica: {{cliente.capacidadFisica}}<br>
    Peso: {{cliente.peso|stringformat:".1f" }}<br>
    Estatura: {{cliente.estatura|stringformat:".2f" }}<br>
    <a href="/"><button type="button">Volver a Home</button></a>
{%endblock%}