{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
    <form id="formCambiar" action="" method="post">
        {% csrf_token %}
        <label for="password1">Contraseña:</label>
        <input type="password" name="password1" id="password1" placeholder="********"><br>
        <label for="password2">Repetir Contraseña:</label>
        <input type="password" name="password2" id="password1" placeholder="********"><br>
        <input type="submit" value="Confirmar Contraseña">
    </form>
{%endblock%}