{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
    <form id="formRecuperar" action="" method="post">
        {% csrf_token %}
        <label for="email">Mail:</label>
        <input type="mail" name="email" placeholder="ejemplo@ejemplo.com"><br>
        <input type="submit" value="Ingresar Correo">
    </form>
    Se le enviará un mail al correo especificado con un link para cambiar la contraseña<br>
    {%if messages%}
        {%for message in messages%}
            {{message}}<br>
        {%endfor%}
    {%endif%}
    <footer>
        <br>
        <a href="{% url 'login' %}">Volver al login</a>
    </footer>
{%endblock%}