{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
        FORMULARIO DE REGISTRO
        <form id="formRegistro" action="" method="post">
        {% csrf_token %}
        <label for="nombre">Primer Nombre:</label>
        <input type="text" name="nombre" placeholder="Robert"></input><br>

        <label for="apP">Apellido Paterno:</label>
        <input type="text" name="apP" placeholder="Rojas"></input><br>

        <label for="apM">Apellido Materno:</label>
        <input type="text" name="apM" placeholder="Garay"></input><br>

        <label for="username">Nombre de Usuario:</label>
        {{crearUsuario.username}}<br>

        <label for="email">Mail:</label>
        {{crearUsuario.email}}<br>

        <label for="repmail">Repetir Email:</label>
        <input type="mail" name="repmail" placeholder="ejemplo@ejemplo.com"><br>

        <label for="password1">Contraseña:</label>
        {{crearUsuario.password1}}<br>

        <label for="password2">Repetir Contraseña:</label>
        {{crearUsuario.password2}}<br>

        <input type="submit" value="Crear Usuario">
    </form>
    <footer>
        <br>
        <a href="{% url 'index' %}">Volver al inicio</a>
    </footer>
{%endblock%}
