{%extends 'appPocketTrainer/base.html'%}
{%block contenido%}
<form id="formAddRutina" action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Nueva Rutina</legend>
        <label for="nombre">Titulo de Rutina:</label>
        <input type="text" name="nombre" id="nombre"><br>
        <label for="dias">Días de ejecición:</label>
        <input type="checkbox" name="dias" value="0">Lunes
        <input type="checkbox" name="dias" value="1">Martes
        <input type="checkbox" name="dias" value="2">Miercoles
        <input type="checkbox" name="dias" value="3">Jueves
        <input type="checkbox" name="dias" value="4">Viernes
        <input type="checkbox" name="dias" value="5">Sabado
        <input type="checkbox" name="dias" value="6">Domingo
        <div id="errorDias"></div>
        <br>
        <label for="ejercicio">Ejercicio:</label>
        <select name="ejercicio" id="ejercicio">
            {%for ejer in ejercicios%}
                <option value="{{ejer.id}}">{{ejer.tipo}}</option>
            {%endfor%}
        </select><br>
        <label for="duracion">Duración (Segundos):</label>
        <input type="number" step="1" name="duracion" id="duracion" placeholder="60" min="1"></input><div id="errorDuracion"></div>
        <input type="button" onclick="addTabla()" id="addEjercicio" value="Añadir ejercicio"><br><br>
        <table id="tablaEjercicios">
            <thead>
                <tr>
                    <th>Ejercicio</th>
                    <th>Duración (Segundos)</th>
                    <th>Acción</th>
                </tr>
            </thead>
        </table><div id="errorTabla"></div><br>
        <input type="submit" value="Registrar Rutina">
    </fieldset>
</form><br>
<a href="/"><button type="button">Volver a Home</button></a>
{%endblock%}